<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="../static/home.css">
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
</style>
</head>
<body>

<ul>
  <li><a class="active" href="{{url_for('home')}}">Home</a></li>
  <li><a href="{{url_for('Admin')}}">Admin</a></li>
  <li><a href="{{url_for('Esports')}}">Esports</a></li>
</ul>
<font size="20"><center> Game</center></font>

<div class="container">
  <div class="row">
    <div class="col-6 ma">
      <img src="../static/{{left}}" alt="faze" height="70" width="70">
      {{left}}
      Score
    </div>
    <div class="col-6 mo">
      <img src="../static/{{right}}" alt="liq" height="70" width="70">
      {{right}}
      Score
    </div>
  </div>


</body>
</html>
